[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
jupyter = "*"
jupytext = "*"
pillow = "*"
matplotlib = "*"
scikit-learn = "*"
scrapy = "*"
pymongo = "*"
requests = "*"
django = "*"
pep8 = "*"
autopep8 = "*"
torchsummary = "*"
scikit-image = "*"
pandas = "==0.24.2"
tqdm = "*"
pylint = "*"
opencv-contrib-python = "==3.4.2.17"
colorama = "*"

[requires]
python_version = "3.7"
